@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --black: #0b0c10;
  --dark: #1f2833;
  --gray: #c5c6c7;
  --tur: #66fcf1;
  --darkTur: #27c1b9;
  --blue: linear-gradient(135deg, #54b0f1 10%, #0396ff 100%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  counter-reset: elem -1;
}

button {
  padding: 15px 20px;
  cursor: pointer;
  outline: none;
}

.header {
  /* background-image: var(--blue); */
  text-align: center;
  padding: 25px 0;
  word-spacing: 0.2em;
  font-size: 1.2em;
  color: #eeeeee;
  background-color: #222831;
  width: 100%;
}

.header .accent {
  color: #00bbf0;
}

.visualizer {
  /* background-color: #eeeeee; */
  min-height: 650px;
  display: grid;
  grid-template-columns: 1fr;
}

.array {
  min-height: 350px;
  width: 100%;
  background-color: #eeeeee;
  /* background-image: white; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
}

.array::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url(http://www.pngmart.com/files/9/Magnifying-Glass-PNG-Clipart.png);
  background-size: 350px 350px;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  top: 30px;
  left: 25px;
}

.array::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background-image: url(wave.svg);
  background-size: cover;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.buttons .generate-array #generate {
  font-size: 18px;
  color: var(--dark);
  border-radius: 3px;
  /* border: 2px solid var(--darkTur); */
  border: none;
  margin-right: 20px;
}

.buttons .search-bar #target {
  height: 55px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0 15px;
  width: 150px;
  padding-right: 55px;
}

.buttons .search-bar #search-btn {
  background-color: var(--dark);
  font-size: 18px;
  color: var(--tur);
  border-radius: 40px;
  height: 45px;
  width: 45px;
  padding: 0;
  position: relative;
  right: 55px;
}

/* Array element styling */
.element {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
  color: #eeeeee;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  position: relative;
  font-weight: 600;
}

.element::after {
  position: absolute;
  display: block;
  counter-increment: elem;
  content: counter(elem);
  z-index: 1;
  bottom: -25px;
  color: var(--dark);
  font-weight: 700;
}

.fa-arrow-up {
  height: 30px;
  width: 30px;
  position: absolute;
  font-size: 25px;
  transition: all 1s ease-in;
  bottom: -60px;
  transform-origin: center center;
}

#low {
  color: #222831;
}

#high {
  color: #00bbf0;
}

#middle {
  color: #005792;
  z-index: 1;
}
