@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

button {
  padding: 15px 20px;
  cursor: pointer;
  outline: none;
}

.header {
  background-color: #1f2833;
  text-align: center;
  padding: 25px 0;
  word-spacing: 0.2em;
  font-size: 1.2em;
  color: #66fcf1;
}

.visualizer {
  background-color: #eeeeee;
  min-height: 650px;
  display: grid;
  grid-template-columns: 1fr;
}

.array {
  min-height: 350px;
  width: 100%;
  background-color: #1f2833;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.buttons .generate-array #generate {
  background-color: #1f2833;
  font-size: 18px;
  color: #66fcf1;
  border-radius: 40px;
  margin-right: 20px;
}

.buttons .search-bar #search {
  height: 55px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0 15px;
  width: 150px;
  padding-right: 55px;
}

.buttons .search-bar #search-btn {
  background-color: #1f2833;
  font-size: 18px;
  color: #66fcf1;
  border-radius: 40px;
  height: 45px;
  width: 45px;
  padding: 0;
  position: relative;
  right: 55px;
}
